h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

#fullPage .section {
  background-size: cover;
  background-position: center;
}

.s1 {
  background: url("../images/one.jpg");
}

.s2 {
  background: url("../images/two.jpg");
}

.s2 h1 {
  font-size: 3rem;
  color: hotpink;
}

.s3 {
  background: url("../images/three.jpg");
}

span {
  background: white !important;
}

.fp-slidesNav ul {
  text-align: center;
}
